* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  background-color: #062226;
}
.App .img {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1545px;
  position: relative;
  left: -20px;
  bottom: 20px;
}
.info_status {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  border: 1px solid;
  width: 120px;
  height: 17px;
  align-items: center;
  padding: 0.5rem;
  position: relative;
  bottom: 50px;
  left: 3.5rem;
  background-color: aquamarine;
}


.status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid;
}
.float {
  width: 600px;
  height: 40px;
  position: relative;
  left: 450px;
  bottom: 100px;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  background-color: rgba(104, 100, 94, 0.8);
  font-family: Arial;
  padding: 10px;
  text-align: center;
  color: black;
}
.float:hover {
  background-color: white;
}
.floatB {
  height: 40px;
  position: relative;
  left: 480px;
  bottom: 100px;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  background-color: rgba(104, 100, 94, 0.8);
  font-family: Arial;
}

.Section {
  background-color: #03171b;
  color: white;
  width: 1000px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  height: px;
}
.Counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  text-align: center;
}
.Hijo {
  padding: 5rem;
}
.Padre {
  text-align: center;
  margin-left: 100px;
}
.Nieto {
  width: 400px;
  height: 450px;
}

.Grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.Caracteristicas {
  height: 100px;
  width: 400px;
  padding: 1rem;
  color: white;
}
.Tipos {
  background-color: #03171b;
  width: 300px;
}
.Paginacion {
  text-align: center;
}
